{% extends 'emails/base.html' %}

{% block content %}
<h2>Witaj!</h2>

<p>Otrzymaliśmy prośbę o zresetowanie hasła dla Twojego konta trenera w Coachly.</p>

<p>Aby bezpiecznie ustawić nowe hasło, kliknij w poniższy przycisk:</p>

<div style="text-align: center; margin: 30px 0;">
    <a href="{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}" class="button">
        Zresetuj hasło
    </a>
</div>

<p>Jeśli przycisk nie działa, skopiuj i wklej poniższy link w pasku przeglądarki:</p>
<p class="link-text">{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}</p>

<p>Jeśli to nie Ty prosiłeś o reset hasła, po prostu zignoruj tę wiadomość. Twoje obecne hasło pozostanie bezpieczne.</p>

<p>Pozdrawiamy,<br>Zespół Coachly</p>
{% endblock content %}
